root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.json]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.txt]
trim_trailing_whitespace = false

[*.yml]
trim_trailing_whitespace = false

[*.{js, jsx, ts, tsx}]
trim_trailing_whitespace = true

[{Makefile,**.mk}]
indent_style = tab
